<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="D:\Dinesh Project\Logs.log" header="--------------------------------------"  footer="----------------------------------------" rollSizeKB="2048" timeStampPattern="yyyy-MM-dd"    rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Custom Text Formatter"
  listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
  name="Log" />

      <add fileName="D:\Dinesh Project\Logserror.log" header="--------------------------------------"  footer="----------------------------------------" rollSizeKB="2048" timeStampPattern="yyyy-MM-dd"    rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Custom Text Formatter"
  listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
  name="LogError" />

      <add fileName="D:\Dinesh Project\LogsDetail.log" header="--------------------------------------"  footer="----------------------------------------" rollSizeKB="2048" timeStampPattern="yyyy-MM-dd"    rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Custom Text Formatter"
  listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
  name="LogDetail" />

    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp(local)}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text Formatter" />
      <add template="Timestamp: {timestamp(local)}&#xD;&#xA;Message: {message}&#xD;&#xA;"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Custom Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Log">
        <listeners>
          <add name="Log" />
        </listeners>
      </add>
      <add switchValue="All" name="LogError">
        <listeners>
          <add name="LogError" />
        </listeners>
      </add>

      <add switchValue="All" name="LogDetail">
        <listeners>
          <add name="LogDetail" />
        </listeners>
      </add>

    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <add name="CoreDbConnectionString" connectionString="Data Source=C:\Users\Sriharsha\Documents\Visual Studio 2010\Projects\Dinesh Project\Dinesh Project\Data\CoreDb.sdf;Password=Jaffa@1991"
           providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>

  
  
</configuration>