<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CoreDbConnectionString" connectionString="Data Source=C:\Users\Sriharsha\Documents\Visual Studio 2010\Projects\Dinesh Project\Dinesh Project\Data\CoreDb.sdf;Password=Jaffa@1991"
           providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
</configuration>