<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <applicationSettings>
    <WpfApplication1.Properties.Settings>
      <setting name="HeaderName" serializeAs="String">
        <value>Servicing Manager</value>
      </setting>
    </WpfApplication1.Properties.Settings>
  </applicationSettings>
</configuration>